.YourInfo{
    width: 811px;
    height: 443px;
    background-color: yellow;
    margin-left: 20px;
    box-shadow: 5px 5px #C7C8C9;
    grid-row: 1/1;
    grid-column: 1;
    margin-top: 15px;
}

.YourInfo h1{
    font-size: 40px;
    margin-left: 20px;
    padding-top: 0px;
}